:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, 'Clash Grotesk', sans-serif;

	color: #fff;
	background-color: #1e1e1e;

	--border: rgba(255, 255, 255, 0.25);

	--chat-sent-bubble-txt: rgba(255, 255, 255, 0.7);
	--chat-sent-bubble-bg: #8775e9;
	--chat-received-bubble-txt: rgba(255, 255, 255, 0.7);
	--chat-received-bubble-bg: #2d2d2d;

	--message-composer-input-bg: #2d2d2d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: var(--font-family); color: var(--color);}
body{background-color: var(--background-color);}

.center-flex{display: flex; align-items: center; justify-content: center;}
.center-grid{display: grid; place-items: center;}
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}

button{padding: 10px; border: none; background: none; outline: none; cursor: pointer;}
input{border: none; outline: none;}
p{color: #FFFFFF40;}
ul{list-style: none;}