:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, 'Clash Grotesk', sans-serif;

	color: #fff;
	background-color: #1e1e1e;
	--primary-color: #8775e9;

	--border: rgba(255, 255, 255, 0.25);

	--chat-sent-bubble-txt: rgba(255, 255, 255, 0.7);
	--chat-sent-bubble-bg: #8775e9;
	--chat-received-bubble-txt: rgba(255, 255, 255, 0.7);
	--chat-received-bubble-bg: #2d2d2d;

	--message-composer-input-bg: #2d2d2d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: var(--font-family); color: var(--color);}
body{background-color: var(--background-color);}

.center-flex{display: flex; align-items: center; justify-content: center;}
.center-grid{display: grid; place-items: center;}
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.hide{display: none;}

button{padding: 10px; border: none; background: none; outline: none; cursor: pointer;}
input{border: none; outline: none;}
p{color: #FFFFFF40;}
ul{list-style: none;}


/*** Loader ***/
.loading-screen{height: 100vh; color: #333;}
.spinner{
	width: 40px; height: 40px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 3px solid #f3f3f3;
	border-top: 3px solid var(--primary-color);
	animation: spin 1s linear infinite;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}