
__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
.venv/
ENV/
*.egg-info/


*.log
*.tmp
*.swp
*.bak

file-receiver/uploads/*


firewall/rules.json
honeypot/log.txt
file-receiver/log.txt


.env

*.pid


volumes/


dashboard/build/
dashboard/node_modules/


.idea/
.vscode/


.DS_Store
Thumbs.db


docs/*.drawio.bak
