__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.bak
*.pid

*.egg-info/
venv/
.venv/
.idea/
.vscode/

private_key.pem
public_key.pem

volumes/
**/build/
**/node_modules/

# MacOS
**/.DS_Store
Thumbs.db

# binaries
firewall