.rooms{height: 165px; padding: 25px 0;}
.rooms h2{margin-left: 25px;}
.rooms ul{width: 100%; justify-content: flex-start; gap: 25px; padding: 15px 25px 0 25px; overflow: auto; scrollbar-width: none;}
.rooms ul li{display: flex; cursor: pointer; background: none;}
.rooms ul li > img{border-radius: 50%; outline: 2px solid #8775e9; outline-offset: 2px;}
.addRoomBtn{width: 60px; height: 60px; border: 2px solid #8775e9; border-radius: 50%;}
.addRoomBtn:hover{background-color: #2d2d2d;}

.activeRoom img{outline: 2px solid #78C841 !important;}