.sidebar{width: 350px; height: 100dvh; border-right: 0.5px solid var(--border); background: #252526;}
.profile{height: 80px; justify-content: space-around; gap: 15px; padding: 15px 25px; border-bottom: 0.5px solid var(--border);}
.profile > img:first-child{width: 50px; height: 50px; border-radius: 50%;}
.profile .name{align-items: flex-start; flex: 1;}
.profile h2{font-size: 20px;}
.profile p{font-size: 12px;}
.profile .dots{width: 45px; height: 45px; padding: 10px; border-radius: 50%; cursor: pointer; transition: .15s;}
.profile .dots:hover{background-color: #2d2d2d; transition: .15s;}


/*** MAIN SECTION ***/

.home main{
    width: calc(100% - 350px);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.home .header{
    height: 80px;
    justify-content: flex-start;
    gap: 25px;
    padding: 10px 25px;
    border-bottom: 0.5px solid var(--border);
}
.home .header .goBackBtn{width: 50px; height: 50px; margin: 0 -15px 0 -15px; padding: 5px; cursor: pointer; transition: .15s;}
.home .header .goBackBtn:hover{background: #2d2d2d; transition: .15s;}
.home main .header .person h2{font-size: 20px; font-weight: 500;}
.home main .header .person p{font-size: 14px;}
.home main .header img{width: 50px; height: 50px; border-radius: 50%;}


/*** RESPONSIVE ***/

@media screen and (max-width: 768px){
    .sidebar{width: 100%;}
    .hideSidebar{display: none;}
    .hideMain{display: none !important;}
    .showMain{width: 100% !important;}
}