.sidebar{width: 350px; height: 100dvh; border-right: 0.5px solid var(--border); background: #252526;}
.profile{height: 80px; justify-content: space-around; gap: 15px; padding: 15px 25px; border-bottom: 0.5px solid var(--border);}
.profile > img:first-child{width: 50px; height: 50px; border-radius: 50%;}
.profile .name{align-items: flex-start; flex: 1;}
.profile h2{font-size: 20px;}
.profile p{font-size: 12px;}
.profile .dots{width: 20px;}


.rooms{padding: 25px 0;}
.rooms h2{margin-left: 25px;}
.rooms ul{width: 100%; justify-content: flex-start; gap: 25px; padding: 25px; overflow: auto; scrollbar-width: none;}
.rooms ul li{display: flex;}
.rooms ul li > img{border-radius: 50%; outline: 2px solid #8775e9; outline-offset: 2px;}
.addRoomBtn{width: 60px; height: 60px; border: 2px solid #8775e9; border-radius: 50%;}


.dm{padding: 0 0 25px 25px;}
.dm ul li{display: flex; align-items: center; gap: 15px; margin: 25px 0 0 0; padding-right: 25px; cursor: pointer; transition: .1s;}
.dm ul li.active, .dm ul li:hover{border-right: 2px solid #8775e9; transition: .1s;}
.dm ul li img{width: 45px; height: 45px; flex-shrink: 0; object-fit: cover; border-radius: 50%;}
.dm ul li .info{width: 100%;}
.dm ul li .name{justify-content: space-between;}
.dm ul li .name h3{font-weight: 300;}
.dm ul li .name p{font-size: 12px;}


/*** MAIN SECTION ***/

.home main{
    width: calc(100% - 350px);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.home .header{
    height: 80px;
    justify-content: flex-start;
    gap: 25px;
    padding: 10px 25px;
    border-bottom: 0.5px solid var(--border);
}
.home main .header .person h2{font-size: 20px; font-weight: 500;}
.home main .header .person p{font-size: 14px;}
.home main .header img{width: 50px; height: 50px; border-radius: 50%;}



/*** CHAT ***/

.home main .chat{gap: 15px; padding: 15px;}

.message{
    max-width: 80%;
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 16px;
}

.message.sent{
    align-self: flex-end;
    color: white;
    border-bottom-right-radius: 5px;
    background-color: #845B92;
}

.message.received{
    align-self: flex-start;
    color: black;
    border-bottom-left-radius: 5px;
    background-color: #f1f0f0;
}

.message .time{font-size: 10px; margin-left: 5px;}
.message.received .time{color: rgba(0, 0, 0, 0.4);}
.message.sent .time{color: rgba(255, 255, 255, 0.4);}


/*** MESSAGE COMPOSER ***/

.message-composer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: white;
}

.message-composer input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
}

.message-composer .icon {
  width: 32px; height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.message-composer .icon img{width: 20px; height: 20px; transition: .25s;}
.icon.send{background-color: #845B92;}
.icon.send:hover img{transform: translateX(1px) translateY(-1px) rotate(-385deg); transition: .5s;}